{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'basketball/style.css' %}" />

{% if teams %}
    {% for t in teams %}
    <div style="background: url('{% static "basketball/images/logo-"%}{{ t.city|lower }}.jpg') center;" class="teamContainer">
        <h4 style="margin:0">{{ t.city }}</h4>
        <h2 style="margin:0">{{ t.name }}</h2>
        
        <!-- Output team's players -->
        <ul>
            {% for p in t.player_set.all %}
            <li>
                <a href="{% url 'basketball:player_card' p.id %}">{{ p.first_name }} {{ p.last_name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

    <div class="teamContainer">
        <h4 style="margin:0">{{ poll.question }}</h4>
        <ul>
            {% for c in poll.choice_set.all %}
            <li>
                {{ c.choice_text }}
            </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <p>No Teams were found</p>
{% endif %}